[submodule "packages/core"]
	path = packages/core
	url = https://github.com/Riverbraid/Riverbraid-Core.git
[submodule "packages/crypto-gold"]
	path = packages/crypto-gold
	url = https://github.com/Riverbraid/Riverbraid-Crypto-Gold.git
[submodule "packages/judicial-gold"]
	path = packages/judicial-gold
	url = https://github.com/Riverbraid/Riverbraid-Judicial-Gold.git
[submodule "packages/memory-gold"]
	path = packages/memory-gold
	url = https://github.com/Riverbraid/Riverbraid-Memory-Gold.git
[submodule "packages/integration-gold"]
	path = packages/integration-gold
	url = https://github.com/Riverbraid/Riverbraid-Integration-Gold.git
[submodule "packages/harness"]
	path = packages/harness
	url = https://github.com/Riverbraid/Riverbraid-Harness.git
